body {
  display: flex;
}

.cardclass .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 5px;
  display: inline-block;
  background-color: #fcfcfc;
  text-align: center;
}

.cardclass .card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: #11c6de;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardclass .card p {
  margin: 5px;
}

.cardclass .card img {
  margin-top: 1px;
  width: 200%; /* Set the width to 100% */
  height: 200px; /* Let the height adjust proportionally */
}

.cardclass .card p a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(0, 17, 255);
}

.cardclass .card button:hover,
a:hover {
  opacity: 0.7;
}
