.sectionmid {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.sectionmid .blue-div {
  background-color: rgb(235, 235, 235);

  border-radius: 10px;
  width: 50%;
  height: 300px;
  overflow: auto;
}

.sectionmid .blue-div h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding-top: 20px;
}

.sectionmid .blue-div table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sectionmid .blue-div table th,
.sectionmid .blue-div table td {
  padding: 10px;
  text-align: left;
  font-family: monospace;
  border-bottom: 1px solid #ccc;
}

.sectionmid .blue-div table td a {
  background-color: #00c6a9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  color: #ffffff;
}

.sectionmid .blue-div table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.sectionmid .blue-div table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.sectionmid .blue-div table tbody tr:hover {
  background-color: #eaf6ff;
}

.sectionmid .blue-div table td:last-child {
  white-space: nowrap;
}
.thirdsection {
  background-image: url("https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661");

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 100px;
  margin-bottom: 200px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.hero_area .header_section .container a span {
  font-family: monospace;
}
